<?php
// Database connection
$servername = "localhost";
$username = "DB_Username";
$password = "DB_Password";
$dbname = "DB_Name";

date_default_timezone_set('Europe/Amsterdam');

// Create connection
$conn = new mysqli($servername, $username, $password, $dbname);
// Check connection
if ($conn->connect_error) {
    die("Connection failed: " . $conn->connect_error);
}

require_once(__DIR__ . '/includes/globals.php');
?>